:root{
    /*---colores---*/
    --hover--color: rgba(210, 105, 30, 0.433); /*color hover*/
    --background-color: #F0F0F0; /*color fondo*/
    --c-color: rgb(23, 23, 23); /*color texto*/
    --menu--color: #e2e2e2ea; /*color menu*/
    --main--color: chocolate ; /*color acento*/

    /*---Tipografia---*/
    --display: "Montserrat", sans-serif; /*tipografia*/

    /*---Tamaño titulos---*/
    --h1: 3,5rem;   /*tamaño letra h1*/
    --h2: 2,8rem;   /*tamaño letra h2*/
    --h3: 2,1rem;   /*tamaño letra h3*/
    --h4: 1,5rem;   /*tamaño letra h4*/
    --h5: 1,2rem;   /*tamaño letra h5*/


    /*--Body Device---*/

    --body1-devide: 0,875em;
    --body2-desktop: 0.823em;
}

/*RESET*/

*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
	vertical-align: baseline;
   
   
    
    font-family: "Montserrat", sans-serif;
       
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--c-color);

}
a:hover{
    color: var(--hover--color);
    transition: 1s;
}
h1,
h2, 
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}
h1{
    font-size: var(--h1);
}
h2{
    font-size: var((--h2));
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
h5{
    font-size: var(--h5);
}
h6{
    font-size: var(--h6);
}

/* globals, para poder hacer la animacion de appear */
.mw{
    max-width: 900px;
    margin: 0 auto;

}
.appear{
    opacity: 0;
    transition: opacity .4s;
}

body{
    width: 100%;
    height: 100%;
    font-family: Content;
    background-color: var(--background-color);
}
/*Menu nuevo */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    border-radius: 16px;
    
}

.header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: var(--menu--color);

}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav__logo{
    width: 100%;
    max-width: 100px;
}

.nav {
    padding: 2em;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: black;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width:  30px;
}


.nav__close {
    display: var(--show, none);
}




/* About me portfolio container */

.me__container {
    max-width: 100%;
    padding:  0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.me__title {
    font-size: 3rem;
}


/*text index*/


h1{
    font-size: 80px;
}
.text__summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    padding: 2em;
}
.texto{
    font-weight: lighter ;
}

/*---IMAGENES DEL INDEX-----*/

img{
    width: 100%;
}
.container__firstblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    max-width: 100%;
    gap: 2em;
   
   
  
}
.container__content{
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    margin: auto;
     
    
}
.imagenrecurso__dos , .imagenrecurso__uno , .imagenrecurso__tres {
    border-radius: 24px;
    width: 400px;
}
/* BLOQUES TEXTO*/

.container__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
  
}
.bloques__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 100%;
    margin: auto;
    padding: 2em;
  
}
.bloquetexto__uno , .bloquetexto__dos , .bloquetexto__tres{
    display: block;
    width:85%;
    font-weight: lighter;
   
}

/*Galeria columnas con proyecto y numero en index - horizontal*/

.container__gallery {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2em;
   margin: auto;
   max-width: 100%;
   font-size: 15px;
   font-weight: lighter;
   gap: 2em;

}
.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    max-width: 100%;
    padding: 1em;
    margin: auto;
    width: 100%;
    
}
.columnas{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em;
    gap: 5em;
    width: 300px;
    height: 60vh;
    
}
.columnas:hover{
    background-color: var(--hover--color);
    transition: 1s;
}

.numero{
    display: block;
    flex-direction: column;
    position: relative;
    
    color: var(--main--color);
    font-size: 80px;

    
}
.content__img{
  width: 100%;

}
.pill{
    
    border: solid var(--main--color);
    border-radius: 16px;
    padding: 0.5em 1em;
    margin: 0.25em;
    color: var(--main--color);
    width: 120px;
}
/*--Slider---*/

.slider__container{
    display: flex;
    flex-direction: column;
    max-width: 100%;

    overflow: hidden;
    gap: 1em;
}
.titulo__slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: .3s ease-in-out;

    max-width: 100%;
    max-height: 1000px;
}

.slider, .slider__img{
    width: 100vw;
    object-fit: cover;
}


/*About me*/

.text__summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2em;

}
.container__firstblock__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    margin: auto;
    max-width: 100%;
}
.container__content__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.aboutme__text__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 1em;
    max-width: 100%;
    margin: auto;
   
}
.imagen__aboutme{
    border-radius: 24px;

}


.bloques__textosaboutme{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1em;
    padding: 2em;
    max-width: 100%;    
}

/*Skills*/

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin: auto;
    padding: 2em;
}

.skills__items{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    align-items: start;
    justify-content: start;
    gap: 1em;
    margin: auto;
    width: 100%;

}

.skills__items__style{
    border: solid var(--main--color) ;
    border-radius: 16px;
    padding: 0.5em 1em;
    margin: 0.25em;
    color: var(--main--color);

}

/*work*/

.container__galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    margin: auto;
    max-width: 100%;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 80%;

}
.item__gallery{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.text__hover{
    position: absolute;  
    opacity: 0;   
    font-weight: 200; 
}

.galeria__img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
   
}

.galeria .galeria__img{
    width: 100%;
    gap: 1em;
    margin: 1em;
    padding: 1em;
     
}
.item__gallery:hover .text__hover {
    filter: grayscale(100);
    transition: .5s;
    opacity: 100%;
    color: var(--c-color);
    font-weight: lighter;
 
 }
.item__gallery:hover{
    filter: grayscale(100);
    transition: .5s;

}

/*SINGLE*/ 

/*PARALLAX*/
.img__single{
    width: 100%;
}

/*--- diseño css para todas las paginas de single por igual. Todas comienzan con un titulo en h1, y a continuación una imagen
 Siguen con un div que tiene texto e imagen, para continuar con tres imagenes, y debajo tres parrafos que van independientes, ya que hay un par de singles que no tienen tanto contenido y solo tienen uno o dos parrafos.
 
 El single de la App de Ñam, tiene ademas, otro bloque extra con un div que se llama left con una imagen extra y texto.*/
.titulo__single{ 

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 100%;
  
}
.lista__texto{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    justify-content: center;
    
}

.single__content__uno{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 1em;
    padding: 2em;
    margin: auto;
    font-weight: lighter;


}
.galeria__single{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 100%;

    padding: 2em;
    
}

.textos__single{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 2em;
    gap: 2em;
    margin: auto;
    font-weight: lighter;
}

/* Añadi un bloque con las herramientas usadas*/
.herramientasusadas{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
    max-width: 100% ;
}
.items__herramientas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;

}
/*left - imagen con texto final de la App Ñam - Solo está en ese single*/
.left{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 1em;
    padding: 2em;
    margin: auto;

}

.left__img, .left__content{
    flex-basis: 0;
    flex-grow: 1;
    font-family: 'Montserrat';
    font-weight: lighter;

}

.left__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 2em;
    align-items: start;

}
/*Contacto - formulario contacto */
.container__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.form__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
    gap: 2em;
   

}
.form__text{
    width: 50vw;
    min-height: 40vh;
    border: none;
    
}

.enviar{
    padding: 1em;
    background-color: #1c1c1c;
    border-radius: 8px;
    color: #cacacacc;
    border: none;

}
.enviar:hover{
    background-color: #1c1c1cba;
    transition: .5s;
}




/*Footer - esta formado por texto ,  un titulo, y parrafo, seguido del email y luego el enlace del contacto y los iconos de las redes sociales*/
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #e2e2e29f; 
    border-radius: 8px;

    margin: 0;
   
    max-width: 100%;
}
.hablemos__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5em;
}
.titulo__footer{
    font-size: 100px;
}
.nombre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;
    font-weight: lighter;

}
.items__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    gap: 2em;

}




/*MENU HAMBURGUESA

Aqui están los media para poder ajustar el contenido de las pantallas al responsive, además del menu de hamburguesa.

- En el menu de hamburguesa, como he comentado anteriormente, las opciones de about me, work y contact se juntan en el menu hamburguesa, que al pinchar en ella se despliega a la derecha y tiene la X para cerrar.*/

@media (max-width:800px){
    .nav__menu{
        display: block;
        padding: auto;


    }

    .nav__img {
        display: block;
        width:  30px;
        padding: auto;
    }

    .nav__links {
        color: #fff;
        text-decoration: none;
    }
 
    .nav__link--menu{
        position: fixed;
        background-color: #1c1c1c;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}



/* Aqui empieza la parte responsive del resto de pantallas
*/
@media screen and (max-width:800px) {

    /*INDEX - TITULO Y SUBTITULO*/
    .text__summary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        padding: 2em;

    }

    .texto{
        font-weight: lighter ;
        font-size: 16px;
    }

    /*GALERIA*/
    .container__firstblock{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 2em;
        max-width: 100%;
        gap: 2em;
       
      
    }
    .container__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: auto;
         
        
    }
    .imagenrecurso__dos{
        width: 90vw;
    }
   .imagenrecurso__tres{
      display: none;
    }
    .imagenrecurso__uno{
        display: none;
    }

    /*TEXTOS INDEX*/
    .container__texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        max-width: 100%;

      
    }
    .bloques__texto{
       display: flex;
       flex-direction: column;
       align-items: top;
       justify-content: center;
       margin: auto;
      
    }

    /*COLUMNA PROYECTOS INDEX*/
    .container__gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: smaller;
        padding: 2em;
        max-width: 100%;
        gap: 2em;
    }
    
    /*ABOUT ME*/
    .text__summary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        margin: auto;
        padding: 2em;
        max-width: 100%;
    }
    .titulo{
        margin: auto;
        padding: .3em;
        font-size: 64px;
    }
    .aboutme__text__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bloques__textosaboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 1em;
        padding: 2em;
        max-width: 100%;    
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 80%;
        margin: auto;
        padding: 2em;
    }
    .softskills{
        display: flex;
        flex-direction: column;
     
    }
    .hardskills{
        display: flex;
        flex-direction: column;
       
    }

    /*WORK*/
    .galeria{
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
        gap: 1em;
        max-width: 100%;
    
    }
    .titulo__columnas{
        font-size: 40px;
        font-weight: bold;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 1em;
    }
  /*FOOTER*/
    .titulo__footer{
        font-size: 60px;
    }
    /*  contacto*/
    .container__contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 2em;
    }
    .form__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 1em;
        gap: 2em;
       

    }
    .form__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
        border: none;
        margin: auto;
        
    }

    /*SINGLE*/
    .titulo__single{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
       
     }
     .titulo__h1__single{
        font-size: 64px;
     }
     .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 2em;
        gap: 1em;
        max-width: 100%;
     }
}
