:root{
    --grid-responsive: repeat(auto-fit, minmax(150px, 1fr))
}
*{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
    box-sizing: border-box;
   
    
    font-family: "Montserrat", sans-serif;
    

    
    
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(23, 23, 23);

}
a:hover{
    color: rgba(210, 105, 30, 0.433);
    transition: 1s;
}

/* globals */
.mw{
    max-width: 900px;
    margin: 0 auto;

}
.appear{
    opacity: 0;
    transition: opacity .4s;
}

body{
    width: 100%;
    height: 100%;
    font-family: Content;
    background-color: #F0F0F0;
}
/*Intro*/

.logo{
    display: block;
    height: 300px;
    left: 35%;
    margin-left: -100px;
    position: absolute;
    top: 350px;
    width: 40%;

  
}
.logo:hover { 
    fill: #e2e2e2cc;;
    cursor: pointer;
    transition: 1s;
}
/* Menu */
.logo__menu{
    display: flex;
    justify-content: start;
    padding-left: 1em;
    width: 200px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2ea; 
    border-radius: 8px;
    /*position: fixed;*/
    height: 10vh;
    width: 97.5vw;
    margin: 20px 20px 20px 20px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    gap: 4em;
    
}

.social__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}
.header__nav__items{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;

}


.social__items:hover{
    fill: #cacacacc;
    transition: 1s;
}

/*text*/
h1{
    font-size: 80px;
}
.text__summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.text__summary__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;

}
h3{
    font-weight: lighter;
}
/*IMAGENES*/
img{
    width: 100%;
}
.container__firstblock{
    justify-content: center;
    width: 100%;
    gap: 2em;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.container__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100px;
    
}
.imagenrecurso__dos , .imagenrecurso__uno , .imagenrecurso__tres {
    border-radius: 24px;
    width: 400px;
}
/* BLOQUES TEXTO*/
.container__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    max-width: 100%;
}
.bloques__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 90%;
}
.bloquetexto__uno , .bloquetexto__dos , .bloquetexto__tres{
    display: block;
    width:85%;
    font-weight: lighter;
}

/*Galeria horizontal*/

.container__gallery {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2em;
   margin: auto;
   max-width: 100%;
   font-size: 15px;
   font-weight: lighter;
   gap: 2em;

}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5em;
    max-width: 100%;
    padding: 4em;
    margin: auto;
    width: 100%;
    
}
.columnas{
    display: flex;
    flex-direction: column;
    
    gap: 5em;
    width: 300px;
    height: 60vh;
    
}
.columnas:hover{
    background-color: rgba(210, 105, 30, 0.433);
    transition: 1s;
}
.numero{
    display: block;
    flex-direction: column;
    position: relative;
    
    color: chocolate;
    font-size: 80px;

    
}
.content__img{
  width: 100%;

}
.pill{
    
    border: solid chocolate ;
    border-radius: 16px;
    padding: 0.5em 1em;
    margin: 0.25em;
    color: chocolate;
    width: 120px;
}
/*Slider*/

.slider__container{
    display: flex;
    flex-direction: column;
    max-width: 100%;

    overflow: hidden;
    gap: 1em;
}
.titulo__slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: .3s ease-in-out;

    max-width: 100%;
    max-height: 1000px;
   

}

.slider, .slider__img{
    width: 100vw;
    object-fit: cover;
}


/*About me*/
.text__summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.container__firstblock__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    max-width: 100%;
}
.container__content__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    
   

}
.aboutme__text__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 2em;
    width: 80%;
   
}
.imagen__aboutme{
    border-radius: 24px;
    width: 20vw;
}
.bloque__textouno{
    width: 50%;
}

.bloques__textosaboutme{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1em;
    padding: 2em;
    width: 80%;    
}
/*Skills*/

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin: auto;
    padding: 2em;
}

.hardskills{
    gap: 2em;
   margin: auto;
}
.skills__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: auto;
    width: 100%;

}
.skills__items__style{
    border: solid chocolate ;
    border-radius: 16px;
    padding: 0.5em 1em;
    margin: 0.25em;
    color: chocolate;
    width: 135px;  

}

/*work*/
.container__galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    margin: auto;
    max-width: 100%;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 80%;

}

.galeria .galeria__item{
    width: 100%;
    gap: 1em;
    margin: 1em;
    padding: 1em;
     
}
.galeria__item:hover{
    
}

/*Footer*/
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #e2e2e29f; 
    border-radius: 8px;

    margin: 0;
   
    max-width: 100%;
}
.hablemos__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
h2{
    font-size: 100px;
}
.nombre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;

}
.items__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    gap: 2em;

}